:root {
  --primary-background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
  --button-color: #dcf6c8;
  --secondary-text-color: #272142;
  --heading-font-family: Playfair display, serif;
  --secondary-button-color: #63aaa3;
}
body {
  font-family: Poppins, sans-serif;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}
.hero {
  background: var(--primary-background);
  text-align: center;
  padding: 160px 20px;
}
.hello-text {
  text-align: 36px;
  font-weight: bold;
}
.hero h2 {
  font-size: 24px;
  color: var(--secondary-text-color);
  line-height: 2;
}
.btn-branding {
  background: var(--button-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 30px;
}
.city-name {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.city-description,
.about-me-paragraph {
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.learn-more-btn {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--secondary-button-color);
  border: 1px solid var(--secondary-button-color);
  text-align: center;
}
.city-image {
  max-width: 500px;
}

.col {
  padding: 50px 30px;
}
.learn-about-basic-link {
  color: var(--secondary-button-color);
  font-style: italic;
  display: block;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
}
.my-image {
  max-height: 560px;
  padding: 20px 20px;
}

.content-container h2,
.city-container h2 {
  font-weight: bold;
  color: var(--secondary-text-color);
}
.content-container h2 {
  font-size: 18px;
}
.city-container h2 {
  font-size: 25px;
}
.city-container {
  text-align: center;
}
.content-container,
.city-container {
  padding: 160px 20px;
}
.content-inner {
  margin-top: -20px;
}
.best-sights-name {
  font-size: 18px;
}
.wiki {
  color: var(--secondary-button-color);
}
.wiki-link {
  font-size: 15px;
}
.my-cities-name {
  font-size: 40px;
}

@media (max-width: 1200px) {
  .city-name {
    font-size: 50px;
  }
  .hero {
    padding: 140px 30px;
  }
  .hero h1 {
    font-size: 85px;
  }
}
@media (max-width: 991px) {
  .city-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 42px;
    margin-top: 50px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    line-height: 1.5;
  }
  .hero {
    padding: 100px 30px;
  }

  .learn-more-btn {
    display: block;
    text-align: center;
    max-width: 300px;
    margin: 0px auto;
  }
  .budapest-name {
    margin-top: 0px;
  }
  .col {
    padding: 0px;
  }
  body {
    margin-bottom: 40px;
  }
  .city-description {
    padding: 0px 15px;
  }

  .my-image {
    margin-top: 30px;
  }
  .content-container {
    padding-bottom: 0px;
    text-align: center;
  }
  .best-sights-name {
    font-size: 13px;
  }
  .wiki-link {
    font-size: 14px;
  }
  .my-cities-name {
    font-size: 18px;
  }
}
